DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
JWT_SECRET_KEY=

# uncomment if running directly
# DATABASE_URL=
# DB_HOST=
# OLLAMA_API_URL=

# uncomment if running from docker
DATABASE_URL=
DB_HOST=
OLLAMA_API_URL=